*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#222;
}

.card{
       width:90%;
       max-width: 400px;
       margin-left: 500px;
       margin-top: 50px;
       text-align: center;
       background: hsla(202, 71%, 27%, 1);
       background: linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
       border-radius: 10px;
       
}
.search{
    display: flex;
    justify-content: center;
    padding-top:20px;
    gap:30px;
}
#inputBox{
    width:250px;
    height:35px;
    border-style: none;
    border-radius: 15px;
    text-align: center;
}
#btn{
    width:80px;
    height:35px;
    border-style: none;
    border-radius: 15px;
}
#wheatherImg{
    width: 200px;
    height: 200px;
}
#content{
    font-size: 65px;
    color: aliceblue;
}
#city{
    font-size: 30px;
    color: aliceblue;

}
.parameters{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

}
.paraImg{
    width: 30px;
    height: 30px;
}
.humidity{
    display: flex;
    gap:10px;
    padding-left: 25px;
}
.windspeed{
    display: flex;
    gap:10px;
    padding-right: 25px;
}
.para-content{
    font-size: 20px;
    color: aliceblue;
}